/* much taken from css3please.com! */

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, Freesans, Clean, sans-serif;
  font-size: 13pt;
}

#header {
  padding: 10px;
  border-bottom: 1px solid #cacaca;
  margin-bottom: 10px;

  background-color: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#eaeaea));
  background: -webkit-linear-gradient(top, #fafafa, #eaeaea);
  background:    -moz-linear-gradient(top, #fafafa, #eaeaea);
  background:     -ms-linear-gradient(top, #fafafa, #eaeaea);
  background:      -o-linear-gradient(top, #fafafa, #eaeaea);
  background:         linear-gradient(top, #fafafa, #eaeaea);
}

#content {
  padding: 5px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

table {
  border-collapse: collapse;
}

table, th, td {
  padding: 4px;
}

table#giftlist, table#giftlist th, table#giftlist td {
  border: 1px solid #909090;
}

.error_message {
  background-color: #feefb3;
  color: #d8000c;
  border: 1px solid #d8000c;
  background-repeat: no-repeat;
  background-position: 10px center;

  -webkit-border-radius: 10px; 
     -moz-border-radius: 10px; 
          border-radius: 10px; 
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;

  width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 10px 15px 50px;
  text-align: center;
}

.message {
  background-color: #dff2bf;
  color: #4f8a10;
  border: 1px solid #4f8a10;
  background-repeat: no-repeat;
  background-position: 10px center;

  -webkit-border-radius: 10px; 
     -moz-border-radius: 10px; 
          border-radius: 10px; 
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;

  width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 10px 15px 50px;
  text-align: center;
}

#login_control {
  float: right;
}

/* from css-tricks.com/examples/ButtonMaker */
.button {
  border-top: 1px solid #96d1f8;
  background: #65a9d7;
  background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
  background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
  background: -moz-linear-gradient(top, #3e779d, #65a9d7);
  background: -ms-linear-gradient(top, #3e779d, #65a9d7);
  background: -o-linear-gradient(top, #3e779d, #65a9d7);
  padding: 2px 4px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;
  /*font-size: 15px;
  font-family: Georgia, serif;*/
  font-size: 10pt;
  text-decoration: none;
  vertical-align: middle;

  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
}

.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
}

.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
}
